
<div class="game-canvas">
    <div class="hud-container">
        <app-hero-panel [stats]="player.getStats()"></app-hero-panel>
        <div class="middle-column">
            <img class="main-image" [src]="getCurrentImage()" alt="main.jpg">
            <div class="terminal">
                <app-terminal-display [messages]="messages"></app-terminal-display>
                <app-terminal-input (issueCommand)="issueCommand($event)"></app-terminal-input>
            </div>
        </div>

        <div class="right-column">
            <app-mini-map [player]="player" [mapKey]="mapKey"></app-mini-map>
            <app-information-panel [player]="player"></app-information-panel>
        </div>
    </div>
</div>