.game-canvas {
    padding: 1rem;

    .hud-container {
        display: flex;
        justify-content: space-between;

        .middle-column {
            width: 60%;
            padding: 2rem;
            padding-top: 0px;
            text-align: center;

            .main-image {
                height: 50vh;
                width: auto;
            }

            .terminal {
                margin-top: 2rem;
                font: 1rem Inconsolata, monospace;
                text-align: left;
            }
        }

        .temp-main-display {
            height: 31rem;
            width: 100%;
        }

        .temp-map {
            height: 24rem;
            width: 24rem;
        }
    }
}

.placeholder {
    background-color: lightgray;
}