<div class="game-canvas" *ngIf="playState === 'game-canvas'">
    <div class="hud-container">
        <app-hero-panel [stats]="player.getStats()"></app-hero-panel>
        <div class="middle-column">
            <img class="main-image" [src]="getCurrentImage()" alt="main.jpg">
            <div class="terminal">
                <app-terminal-display [messages]="messages"></app-terminal-display>
                <app-terminal-input (issueCommand)="issueCommand($event)" [name]="player.name"></app-terminal-input>
            </div>
        </div>

        <div class="right-column">
            <app-mini-map [player]="player" [mapKey]="currentMap" (click)="playState = 'big-map'"></app-mini-map>
            <app-information-panel [player]="player"></app-information-panel>
        </div>
    </div>
</div>

<div class="full-screen" *ngIf="playState === 'character-creation'">
    <app-character-creator [player]="player" (playerFinalized)="playerFinalized($event)"></app-character-creator>
</div>

<div class="full-screen" *ngIf="playState === 'big-map'">
    <app-big-map [map]="worldMap" [playerX]="player.x" [playerY]="player.y" (closeMap)="playState = 'game-canvas'"></app-big-map>
</div>
