.game-canvas {
    padding: 1rem;

    .hud-container {
        display: flex;
        justify-content: space-between;

        .middle-column {
            width: 60%;
            padding: 2rem;
            padding-top: 0px;
            text-align: center;

            .main-image {
                width: 100%;
                border: 10px solid black;
            }

            .terminal {
                margin-top: 2rem;
                font: 1rem Inconsolata, monospace;
                text-align: left;
                background-color: white;
                width: 100%;
                border: 10px solid black;
            }
        }
    }
}

.placeholder {
    background-color: lightgray;
}