<div class="creator">
    <div class="title">Grinning at Daisy Roots</div>
    <div class="about">
        Welcome.  Grinning at Daisy Roots is a simple text based game that is very much still in development.
        The game consists of a simple map made up of different types of tiles, some of which you are able to
        interact with using simple commands.  The commands are listed and described in the Commands Panel to
        the right of the main display, under the mini map.  You'll also find your items and equipment there.
        The mini map is there to help show you which directions you can walk at any given time.  Before you
        begin, though, you need to name your character and allocate your available stat points.
    </div>

    <div class="form">
        <div class="question">Name</div>
        <div class="answer"><input type="text"></div>

        
    </div>
</div>
