<div class="information-panel">
    <div class="tabs">
        <div class="tab" [class.active]="activeTab === 'inventory'" (click)="activeTab = 'inventory'">Inventory</div>
        <div class="tab" [class.active]="activeTab === 'commands'" (click)="activeTab = 'commands'">Commands</div>
    </div>

    <div class="content">
        <app-inventory-manager *ngIf="activeTab === 'inventory'; else commandPanel" [player]="player"></app-inventory-manager>
        <ng-template #commandPanel>Command Panel</ng-template>
    </div>
</div>
