.terminal-input {
    display: flex;
    border: 1px solid lightgray;
    border-top: none;
    padding: .5rem;

    .message-prompt {
        margin-right: .25rem;
    }

    .user-command {
        border: none;
        width: 100%;
        font: 1rem Inconsolata, monospace !important;

        &:focus {
            outline: none;
        }
    }
}