.hero-panel {
    width: 16rem;
    border: 10px solid  black;

    .hero-portrait {
        width: 100%;
        margin-bottom: -.5rem;
    }

    .hero-stats {
        border: 1px solid black;
        border-bottom: none;
        background-color: white;

        .hero-stat {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding: .25rem;
        }
    }
}
