.terminal-display {
    border: 1px solid lightgray;
    height: 19rem;
    overflow-y: scroll;
    padding: .5rem;

    .display{
        margin-bottom: 1rem;

        .input {
            display: flex;
            color: blue;

            .input-bullet {
                margin-right: .5rem;
            }
        }
    }
}
